@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    padding : 0;
    margin : 0;
   box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

.up{
    background-color: rgb(37, 53, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
    height: auto;
}

.text{
    text-align: center;
    font-size: 28px;
    color: white;
    font-weight: normal;
    font-family: nunito;
}

.searchbox{
    padding-right: 5%;
}

.searchbox input[type=text]{
    font-size: 15px;
    border-radius: 5px;
    width: 150px;
    padding: 2% 2%;
    border: none;
}

.down .drop{
    background: rgb(39, 35, 35);
}


.drop ul{
    display: flex;
    list-style: none;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
}

.drop ul li {
    display: inline-block;
}

.drop ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
}

.drop ul li .drop2{
    display: none;
    font-size: 18px;
}

.drop ul li:hover .drop2{
    display: block;
    background: rgb(80, 76, 76);
    position: absolute;
    padding: 3px auto;
}

i.material-icons{
    font-size: 30px; 
    color: white;
}

.contentt{
    background: burlywood;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.box{
    padding: 4%;
    text-align: center;
}

.box .text1{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 2%;
}

.box p{
    font-size: 18px;
    font-family: nunito;
    font-weight: bold;
}

.footer{
    background-color: rgb(37, 53, 97);
    padding: 22px 15px;
    color: white;
    font-size: 18px;
}


@media only screen and (max-width: 500px)  {

    .logo{
        width: 80px;
        height: auto;
        align-items: center;
    }

    .text{
        font-size: 16px;
        text-align: center;
        color: white;
        font-weight: normal;
        font-family: nunito;
    }
    .searchbox input[type=text]{
        font-size: 10px;
        width: 90px;
    }

    .drop ul{
        font-size: 16px;
    }

    .drop ul li a{
        padding: 15px 0;
    }

    .drop ul li .drop2{
        font-size: 9px;
    }

    .drop ul li:hover .drop2{
        padding: 2px 6px;
    }

    i.material-icons{
        font-size: 18px; 
    }

    .contentt{
        background: burlywood;
    }

    .box .text1{
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        padding-bottom: 2%;
    }
    
    .box p{
        font-size: 12px;
        font-family: nunito;
        font-weight: bold;
    }

    .footer{
        font-size: 12px;
    }
  
}